# Default values for jenkins.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: clemenscode/bitbucketwatcher
  pullPolicy: Always
  version: latest

serviceAccount:
  # Specifies whether a service account should be created
  create: true

service:
  type: NodePort
  port: 8080
  livenessCheckPath: /actuator/health/liveness
  readinessCheckPath: /actuator/health/readiness

ingress:
  enabled: true

bitbucketSecret: bitbucket-user
teamsCredentials: teams-credentials
bitbucketCredentials: bitbucket-credentials
