server:
  port: 8080

spring:
  application:
    name: bitbucket-watcher

teams:
  url: ${teams-url}
  readTimeout: 600
  connectTimeout: 6

bitbucket:
  base-url: ${base-url}
  readTimeout: 600
  connectTimeout: 600
  project-key: ${project-key}
  repo-slug: ${repo-slug}
  username: ${username}
  password: ${password}
  pull-request:
    cron: 0 * * ? * *
  branch:
    cron-check: 0 0/10 * ? * *
    cron-clear: 0 0 7 ? * *


